<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>北京信息科技大学新闻网列表页</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/rns_style.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="bg"></div>
<div class="top">
    <div class="container">
        <img src="images/logo.png" class="img1" />
        <img src="images/logo1.png" class="img2" />
        <div class="pull-right top-right">
            <a href="#" class="text">信息科大首页</a>
            <div class="search">
                <input type="text" placeholder="请输入关键字" />
                <span class="icon-icon_search2"></span>
            </div>
        </div>
        <div class="pull-right top_nav_right">
            <div class="top_nav_search" data-toggle="modal" data-target="#myModal"></div>
            <div class="top_nav" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></div>
        </div>
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-justified">
                <li class="active"><a href="#">综合新闻</a></li>
                <li><a href="#about">人才培养</a></li>
                <li><a href="#contact">科研学术</a></li>
                <li><a href="#">合作交流</a></li>
                <li><a href="#">文化活动</a></li>
                <li><a href="#">校园聚焦</a></li>
                <li><a href="#">校园人物</a></li>
                <li><a href="#">媒体关注</a></li>
                <li><a href="#">勤信讲坛</a></li>
                <li><a href="#">光影校园</a></li>
                <li><a href="#">视频音频</a></li>
                <li><a href="#">校园媒体</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="main-top">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">光影校园</a></li>
            <li class="active">悠悠校园 青春记忆</li>
        </ul>
        <h1>悠悠校园 青春记忆<!--<small>News</small>--><a href="#">返回首页</a></h1>
        <div class="row campus-gallery">
            <div class="col-md-12 visible-lg ">
                <div id="playimages" class="play">
                    <ul class="big_pic">

                        <div class="prev"></div>
                        <div class="next"></div>

                        <li style="z-index: 1"><img src="images/1.jpg" />
                            <div class="title">1</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">2</div>
                        </li>
                        <li><img src="images/1.jpg" />
                            <div class="title">3</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">4</div>
                        </li>
                        <li><img src="images/1.jpg" />
                            <div class="title">5</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">6</div>
                        </li>
                        <li><img src="images/1.jpg" />
                            <div class="title">7</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">8</div>
                        </li>
                        <li><img src="images/1.jpg" />
                            <div class="title">9</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">10</div>
                        </li>
                        <li><img src="images/1.jpg" />
                            <div class="title">11</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">12</div>
                        </li>
                        <li><img src="images/1.jpg" />
                            <div class="title">13</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">14</div>
                        </li>
                        <li><img src="images/1.jpg" />
                            <div class="title">15</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">16</div>
                        </li>
                        <li><img src="images/1.jpg" />
                            <div class="title">17</div>
                        </li>
                        <li><img src="images/17.png" />
                            <div class="title">18</div>
                        </li>
                    </ul>
                    <div id="small_pic" class="small_pic">
                        <div class="prev_small"></div>
                        <div class="next_small"></div>
                        <ul>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                            <li><img src="images/1.jpg" /></li>
                            <li><img src="images/17.png" /></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 visible-md visible-sm visible-xs img">
                <img src="./images/17.png" alt="">
                <img src="./images/1.jpg" alt="">
                <img src="./images/17.png" alt="">
                <img src="./images/1.jpg" alt="">
                <img src="./images/17.png" alt="">
                <img src="./images/1.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<img class="footimg" src="images/2.png" />
<div class="foot">
    <div class="container">
        <img src="images/foot.png" class="pull-left" />
        <p>Copyright © 2012 北京信息科技大学信息网络中心</p>
        <p>任何技术问题请联系webmaster@bistu.edu.cn 京公网安备:110402430033</p>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="请输入关键词搜索">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-group-12">搜索</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="./js/bootstrap.min.js"></script>
<script src="./js/move.js"></script>
<script>
    ;(function(){
        function getByClass(oParent, sClass)
        {
            var aEle=oParent.getElementsByTagName('*');
            var aResult=[];

            for(var i=0;i<aEle.length;i++)
            {
                if(aEle[i].className==sClass)
                {
                    aResult.push(aEle[i]);
                }
            }
            return aResult;
        }


        window.onload=function()
        {
            var oDiv=document.getElementById('playimages');
            var oBtnPrev=getByClass(oDiv, 'prev')[0];
            var oBtnNext=getByClass(oDiv, 'next')[0];
            //var oDivSmall=document.getElementById('small_pic');
            var oDivSmall=getByClass(oDiv, 'small_pic')[0];
            var oBtnPrev_small=getByClass(oDivSmall, 'prev_small')[0];
            var oBtnNext_small=getByClass(oDivSmall, 'next_small')[0];
            console.log(oBtnPrev_small,oBtnNext_small)
            var oUlSmall=oDivSmall.getElementsByTagName('ul')[0];
            var aLiSmall=oDivSmall.getElementsByTagName('li');

            var oUlBig=getByClass(oDiv, 'big_pic')[0];
            var aLiBig=oUlBig.getElementsByTagName('li');

            var nowZIndex=2;
            var now=0;
            oUlSmall.style.width=aLiSmall.length*(aLiSmall[0].offsetWidth + parseInt(getStyle(aLiSmall[0],"marginRight")))+'px';

            aLiBig[0].style.zIndex = 1;
            startMove(aLiSmall[0], 'opacity', 100);
            aLiSmall[0].style.border = "1px solid red";

            /* //左右按钮
            oBtnPrev.onmouseover=function ()
            {
                startMove(oBtnPrev, 'opacity', 100);

            };
            oBtnPrev.onmouseout=function ()
            {
                startMove(oBtnPrev, 'opacity', 0);
            };
            oBtnNext.onmouseover=function ()
            {
                startMove(oBtnNext, 'opacity', 100);
            };
            oBtnNext.onmouseout=function ()
            {
                startMove(oBtnNext, 'opacity', 0);
            };*/
            //大图切换
            for(var i=0;i<aLiSmall.length;i++)
            {
                aLiSmall[i].index=i;
                aLiSmall[i].onclick=function ()
                {
                    if(this.index==now)return;
                    aLiBig[now].style.zIndex= 0;
                    now=this.index;
                    tab();


                }
                aLiSmall[i].onmouseover=function ()
                {
                    startMove(this, 'opacity', 100);
                };
                aLiSmall[i].onmouseout=function ()
                {
                    if(this.index!=now)
                    {
                        startMove(this, 'opacity', 30);
                    }
                };
            }

            function tab()
            {
                aLiBig[now].style.zIndex= 1;

                for(var i=0;i<aLiSmall.length;i++)
                {
                    startMove(aLiSmall[i], 'opacity', 30);
                    aLiSmall[i].style.border = "none"
                }

                aLiBig[now].style.opacity=0;
                startMove(aLiBig[now], 'opacity', 100);
                startMove(aLiSmall[now], 'opacity', 100);
                aLiSmall[now].style.border = "1px solid red"
                if(now < 8)
                {
                    startMove(oUlSmall, 'left', 40);
                }else if(now > aLiSmall.length-7)
                {
                    startMove(oUlSmall, 'left', -(aLiSmall.length-7)*aLiSmall[0].offsetWidth);
                }else
                {
                    startMove(oUlSmall, 'left', -(now-3)*aLiSmall[0].offsetWidth);
                }
            }
            oBtnPrev.onclick=oBtnPrev_small.onclick=function ()
            {
                aLiBig[now].style.zIndex = 0
                now--;
                if(now==-1)
                {
                    now=aLiSmall.length-1;
                }
                tab();
            }

            oBtnNext.onclick=oBtnNext_small.onclick=function ()
            {
                console.log("自动执行",now)
                aLiBig[now].style.zIndex = 0
                now++;
                if(now==aLiSmall.length)
                {
                    now=0;
                }
                tab();
            };

             var timer=setInterval(oBtnNext.onclick, 4000);
             oDiv.onmouseover=function ()
             {
             clearInterval(timer);
             };
             oDiv.onmouseout=function ()
             {
             timer=setInterval(oBtnNext.onclick, 4000);
             };
        };

    })();

</script>
</html>