body, ul ,li, h1, h2, h3, h4{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: "微软雅黑", "Microsoft Yahei";
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}



.fr{
    float: right;
}

.fl{
    float: left;
}
.mr{
    margin-right: 34px;
}
.wrapper{
    max-width: 1920px;
    background: url("bg.png") bottom center no-repeat;
    background-size: auto 326px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
    zoom: 1;
}

.slideBox {
    width: 608px;
    height: 396px;
    float: left;
    position: relative;
    overflow: hidden;
}

.slideBox .bd {
    position: relative;
    height: 396px;
}

.slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
}

.slideBox .bd li a {
    display: block;
    position: relative;
    height: 396px;
}

.slideBox .bd li a img {
    width: 608px;
    height: 396px;
    position: absolute;
    left: 0;
    top: 0;
}

.slideBox .bd li a span {
    text-align:left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 608px;
    line-height: 42px;
    background: rgba(0,0,0,0.5);
    padding-right: 118px;
    padding-left: 20px;
    color: #fff;
    z-index: 2;
}

.hd {
    position: absolute;
    right: 8px;
    bottom: 13px;
    overflow: hidden;
    z-index: 3;
}

.hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
}

.hd li {
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(180, 180, 180, .5);
    margin-right: 8px;
    cursor: pointer;
}

.hd li.on {
    background: #ffffff;
}
.item-banner {
    width: 1238px;
    height: 100px;
    float: left;
    position: relative;
    overflow: hidden;
}

.item-banner .bd {
    position: relative;
    height: 100px;
}

.item-banner .bd li {
    zoom: 1;
    vertical-align: middle;
}

.item-banner .bd li a {
    display: block;
    position: relative;
    height: 100px;
}

.item-banner .bd li a img {
    width: 1238px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
}

.item-banner .bd li a span {
    text-align:left;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1238px;
    line-height: 42px;
    background: rgba(0,0,0,0.5);
    padding-right: 118px;
    padding-left: 20px;
    color: #fff;
    z-index: 2;
}



.flink{
    display: inline-block;
    width: 180px;
    margin: 15px 20px;
    background-color: #ffffff;
    border: 1px solid #c8cad1;
    position: relative;
    font-size: 18px;
}
.selected {line-height: 40px; color: #424141; position:relative; text-indent: 1em; cursor: pointer; }
.selected::after{
    content: "";
    position: absolute;
    top: 16px;
    right: 10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px #646363 solid;
}
.option1 { position: absolute; z-index:999; width: 100%; height: 245px; bottom: 40px; left: -1px; background: #ffffff; display:none; border:1px solid #dedede; overflow: auto}
.option1 li { line-height: 36px; text-indent: 1em; color:#8e8e8e}
.option1 li.actbg { /*background: #f2f0f1;*/}
.option1 a{ display:block; line-height: 36px; color:#8e8e8e}
.option1 a:hover{ color:#3582c4}
.difang .option1 li{ width: auto; min-width:30px; text-indent:0; margin-left:10px }
.difang .option1 a{ width: auto; }

#small, #big, #middle {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 0 2px;
}
.s1s{
    width:200px;
    height:180px;
    margin:50px auto 20px;
    text-align:center;
}
.s1salt{
    font-size:12px;
    line-height:28px;
    color:#a6a6a6;
}
.qone, .sina, .swx {
    width: 26px;
    height: 26px;
    background: url(qone.png) no-repeat;
    margin: 5px 2px;
    cursor: pointer;
}
.sina {
    background: url(sina.png) no-repeat;
}
.swx {
    background: url(wchart.png) no-repeat;
}
.wx2wm{
    position:absolute;
    top:-10px;
    left:-40px;
    border:1px solid #d7d7d7;
    width:240px;
    height:300px;
    background:#fff;
    padding: 10px 10px 0 10px;
    font-size:12px;
    line-height:22px;
    display:none;
}
.wx2wm p{
    margin: 0;
}
