<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>校园人物</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="bg"></div>
<div class="top">
    <div class="container">
        <img src="images/logo.png" class="img1" />
        <img src="images/logo1.png" class="img2" />
        <div class="pull-right top-right">
            <a href="#" class="text">信息科大首页</a>
            <div class="search">
                <input type="text" placeholder="请输入关键字" />
                <span class="icon-icon_search2"></span>
            </div>
        </div>
        <div class="pull-right top_nav_right">
            <div class="top_nav_search" data-toggle="modal" data-target="#myModal"></div>
            <div class="top_nav" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></div>
        </div>
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-justified">
                <li class="active"><a href="#">综合新闻</a></li>
                <li><a href="#about">人才培养</a></li>
                <li><a href="#contact">科研学术</a></li>
                <li><a href="#">合作交流</a></li>
                <li><a href="#">文化活动</a></li>
                <li><a href="#">校园聚焦</a></li>
                <li><a href="#">校园人物</a></li>
                <li><a href="#">媒体关注</a></li>
                <li><a href="#">勤信讲坛</a></li>
                <li><a href="#">光影校园</a></li>
                <li><a href="#">视频音频</a></li>
                <li><a href="#">校园媒体</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="main-top">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">校园人物</a></li>
        </ul>
        <h1>校园人物 <small>Figure</small><a href="#">返回首页</a></h1>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="images/1.jpg" class="img1"/>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text mt-3">2018.07.11</div>
                <h2>中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</h2>
                <p class="lead">子曰：“志于道，据于德。”德是人们立身之根本，师德更是一名教师的内在要求。开学伊始，学校就召开了师德建设暨2018年教师节表彰大会，表彰先进典型，推进师德建设，全面落实立德树人根本任务暨2018年教师节表彰大会，表彰先进典型，推进师德建...</p>
                <div class="text">查看更多</div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ul class="list-unstyled figure">
        <li>
            <div class="item-figure clearfix">
                <div class="item-figure_img">
                    <img src="./images/17.png" width="100%" height="100%" alt="">
                </div>
                <a href="#">
                    <div class="item-figure_content pull-right">
                        <h2><strong>【学子风采】张欣怡：东风既至，箭可离弓矣</strong></h2>
                        <p class="abstract">她说，自己是个马马虎虎粗心大意的北京大妞，但在干事们眼里却是一个气压低到冰点、要求近乎严苛的会长；她说自己笨嘴拙舌不会说话，却是拿了国际认证、经常奔波于各大高校的讲师；她说，自己进入红十字会便；她说，自己进入红十字会便...</p>
                        <div class="info">
                            <span class="name">张欣怡</span>
                            <span class="pull-right">点击查看</span>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="item-figure clearfix">
                <div class="item-figure_img">
                    <img src="./images/17.png" width="100%" height="100%" alt="">
                </div>
                <a href="#">
                    <div class="item-figure_content pull-right">
                        <h2><strong>【学子风采】张欣怡：东风既至，箭可离弓矣</strong></h2>
                        <p class="abstract">她说，自己是个马马虎虎粗心大意的北京大妞，但在干事们眼里却是一个气压低到冰点、要求近乎严苛的会长；她说自己笨嘴拙舌不会说话，却是拿了国际认证、经常奔波于各大高校的讲师；她说，自己进入红十字会便；她说，自己进入红十字会便...</p>
                        <div class="info">
                            <span class="name">张欣怡</span>
                            <span class="pull-right">点击查看</span>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="item-figure clearfix">
                <div class="item-figure_img">
                    <img src="./images/17.png" width="100%" height="100%" alt="">
                </div>
                <a href="#">
                    <div class="item-figure_content pull-right">
                        <h2><strong>【学子风采】张欣怡：东风既至，箭可离弓矣</strong></h2>
                        <p class="abstract">她说，自己是个马马虎虎粗心大意的北京大妞，但在干事们眼里却是一个气压低到冰点、要求近乎严苛的会长；她说自己笨嘴拙舌不会说话，却是拿了国际认证、经常奔波于各大高校的讲师；她说，自己进入红十字会便；她说，自己进入红十字会便...</p>
                        <div class="info">
                            <span class="name">张欣怡</span>
                            <span class="pull-right">点击查看</span>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="item-figure clearfix">
                <div class="item-figure_img">
                    <img src="./images/17.png" width="100%" height="100%" alt="">
                </div>
                <a href="#">
                    <div class="item-figure_content pull-right">
                        <h2><strong>【学子风采】张欣怡：东风既至，箭可离弓矣</strong></h2>
                        <p class="abstract">她说，自己是个马马虎虎粗心大意的北京大妞，但在干事们眼里却是一个气压低到冰点、要求近乎严苛的会长；她说自己笨嘴拙舌不会说话，却是拿了国际认证、经常奔波于各大高校的讲师；她说，自己进入红十字会便；她说，自己进入红十字会便...</p>
                        <div class="info">
                            <span class="name">张欣怡</span>
                            <span class="pull-right">点击查看</span>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        <li>
            <div class="item-figure clearfix">
                <div class="item-figure_img">
                    <img src="./images/17.png" width="100%" height="100%" alt="">
                </div>
                <a href="#">
                    <div class="item-figure_content pull-right">
                        <h2><strong>【学子风采】张欣怡：东风既至，箭可离弓矣</strong></h2>
                        <p class="abstract">她说，自己是个马马虎虎粗心大意的北京大妞，但在干事们眼里却是一个气压低到冰点、要求近乎严苛的会长；她说自己笨嘴拙舌不会说话，却是拿了国际认证、经常奔波于各大高校的讲师；她说，自己进入红十字会便；她说，自己进入红十字会便...</p>
                        <div class="info">
                            <span class="name">张欣怡</span>
                            <span class="pull-right">点击查看</span>
                        </div>
                    </div>
                </a>
            </div>
        </li>
    </ul>
</div>
<div class="container text-center">
    <ul class="pagination">
        <li>
            <a href="#">
                <</a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">></a></li>
    </ul>
</div>
<img class="footimg" src="images/2.png" />
<div class="foot">
    <div class="container">
        <img src="images/foot.png" class="pull-left" />
        <p>Copyright © 2012 北京信息科技大学信息网络中心</p>
        <p>任何技术问题请联系webmaster@bistu.edu.cn 京公网安备:110402430033</p>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="请输入关键词搜索">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-group-12">搜索</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="./js/bootstrap.min.js"></script>

</html>