<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>首页</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/idangerous.swiper2.7.6.css">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./fonts/style.css">
    <link rel="stylesheet" href="./css/home.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
</head>

<body class="x-custom">
    <div class="top">
        <div class="container">
            <img src="images/logo.png" class="img1" />
            <img src="images/logo1.png" class="img2" />
            <div class="pull-right top-right">
                <a href="#" class="text">信息科大首页</a>
                <div class="search">
                    <input type="text" placeholder="请输入关键字" />
                    <span class="icon-icon_search2"></span>
                </div>
            </div>
            <div class="pull-right top_nav_right">
                <div class="top_nav_search" data-toggle="modal" data-target="#myModal"></div>
                <div class="top_nav" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></div>
            </div>
        </div>
    </div>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav nav-justified">
                    <li class="active"><a href="#">综合新闻</a></li>
                    <li><a href="#about">人才培养</a></li>
                    <li><a href="#contact">科研学术</a></li>
                    <li><a href="#">合作交流</a></li>
                    <li><a href="#">文化活动</a></li>
                    <li><a href="#">校园聚焦</a></li>
                    <li><a href="#">校园人物</a></li>
                    <li><a href="#">媒体关注</a></li>
                    <li><a href="#">勤信讲坛</a></li>
                    <li><a href="#">光影校园</a></li>
                    <li><a href="#">视频音频</a></li>
                    <li><a href="#">校园媒体</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid x-header">
        <!-- 轮播图Begin-->
        <header class="row-fluid  col-xs-12 col-sm-12 col-lg-12 swiper-container banner-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide banner-box">
                    <div class="banner-bg" style="background-image:url('https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1541858398&di=9632ee6ed6d7a0be277983b4a72f0111&src=http://file03.16sucai.com/2017/1100/16sucai_p20161106032_0c2.JPG')"></div>
                    <div class="banner-main">
                        <div class="banner-opacity col-lg-6 col-md-7"></div>
                        <div class="banner-title col-lg-5 col-md-6">【喜讯1】新校区总体规划喜获批复</div>
                        <div class="banner-des col-lg-5 col-md-6">6月13日，我校新校区总体规划喜获批复。这标志着我校新校区总体规划正式完成，确定了新校区近期工程的建设蓝图，为2018年我校新校区全面开工建设奠定了坚实的基础。</div>
                        <span class="banner-more">更多</span>
                    </div>
                </div>
                <div class="swiper-slide banner-box">
                    <div class="banner-bg" style="background-image:url('https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1541858398&di=9632ee6ed6d7a0be277983b4a72f0111&src=http://file03.16sucai.com/2017/1100/16sucai_p20161106032_0c2.JPG')"></div>
                    <div class="banner-main">
                        <div class="banner-opacity col-lg-6 col-md-7"></div>
                        <div class="banner-title col-lg-5 col-md-6">【喜讯2】新校区总体规划喜获批复</div>
                        <div class="banner-des col-lg-5 col-md-6">6月13日，我校新校区总体规划喜获批复。这标志着我校新校区总体规划正式完成，确定了新校区近期工程的建设蓝图，为2018年我校新校区全面开工建设奠定了坚实的基础。</div>
                    </div>
                </div>
                <div class="swiper-slide banner-box">
                    <div class="banner-bg" style="background-image:url('https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1541858398&di=9632ee6ed6d7a0be277983b4a72f0111&src=http://file03.16sucai.com/2017/1100/16sucai_p20161106032_0c2.JPG')"></div>
                    <div class="banner-main">
                        <div class="banner-opacity col-lg-6 col-md-7"></div>
                        <div class="banner-title col-lg-5 col-md-6">【喜讯3】新校区总体规划喜获批复</div>
                        <div class="banner-des col-lg-5 col-md-6">6月13日，我校新校区总体规划喜获批复。这标志着我校新校区总体规划正式完成，确定了新校区近期工程的建设蓝图，为2018年我校新校区全面开工建设奠定了坚实的基础。</div>
                    </div>
                </div>
            </div>
            <div class="banner-main">
                <div class="x-header-pagination"></div>
            </div>
        </header>
        <!-- 轮播图End-->
    </div>
    <div class="container">
        <main class="clearfix">
            <!-- 新闻Begin -->
            <section class="row">
                <div class="x-news-title col-lg-12 clearfix">
                    <h3 class="t-h3">综合新闻<small class="t-small">News</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="center-block clearfix">
                    <div class="x-news-box col-xs-12 col-lg-4">
                        <div class="x-banner-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide x-news-banner">
                                    <a href="#">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1541858398&di=9632ee6ed6d7a0be277983b4a72f0111&src=http://file03.16sucai.com/2017/1100/16sucai_p20161106032_0c2.JPG" />

                                        <div class="x-news-banner-bg">

                                        </div>
                                        <div class="c-1-box col-lg-3 visible-lg visible-sm">
                                            <p class="c-1-day">24</p>
                                            <p class="c-1-date">2018.08</p>
                                        </div>
                                        <div class="c-1-txt txt col-lg-9">
                                            中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide x-news-banner">
                                    <a href="#">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1541858398&di=9632ee6ed6d7a0be277983b4a72f0111&src=http://file03.16sucai.com/2017/1100/16sucai_p20161106032_0c2.JPG" />
                                    </a>
                                    <div class="x-news-banner-bg">

                                    </div>
                                    <div class="c-1-box col-lg-3">
                                            <p class="c-1-day">24</p>
                                            <p class="c-1-date">2018.08</p>
                                        </div>
                                        <div class="c-1-txt txt col-lg-9">
                                            中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大
                                        </div>
                                </div>
                                <div class="swiper-slide x-news-banner">
                                    <a href="#">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1541858398&di=9632ee6ed6d7a0be277983b4a72f0111&src=http://file03.16sucai.com/2017/1100/16sucai_p20161106032_0c2.JPG" />
                                    </a>
                                    <div class="x-news-banner-bg">

                                    </div>
                                    <div class="c-1-box col-lg-3">
                                            <p class="c-1-day">24</p>
                                            <p class="c-1-date">2018.08</p>
                                        </div>
                                        <div class="c-1-txt txt col-lg-9">
                                            中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大
                                        </div>
                                </div>
                                <div class="swiper-slide x-news-banner">
                                    <a href="#">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1541858398&di=9632ee6ed6d7a0be277983b4a72f0111&src=http://file03.16sucai.com/2017/1100/16sucai_p20161106032_0c2.JPG" />
                                    </a>
                                    <div class="x-news-banner-bg">

                                    </div>
                                </div>
                                <div class="swiper-slide x-news-banner">
                                    <a href="#">
                                        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b10000_10000&sec=1541858398&di=9632ee6ed6d7a0be277983b4a72f0111&src=http://file03.16sucai.com/2017/1100/16sucai_p20161106032_0c2.JPG" />
                                    </a>
                                    <div class="x-news-banner-bg">

                                    </div>
                                    <div class="c-1-box col-lg-3">
                                            <p class="c-1-day">24</p>
                                            <p class="c-1-date">2018.08</p>
                                        </div>
                                        <div class="c-1-txt txt col-lg-9">
                                            中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大
                                        </div>
                                </div>
                            </div>
                            <div class="x-news-banner-pagination"></div>
                        </div>
                    </div>
                    <ul class="x-news-list col-lg-4">
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>

                    </ul>
                    <ul class="x-news-list col-lg-4 visible-lg">
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>
                        <li class="clearfix">
                            <a class="col-lg-10 col-xs-12" href="#">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</a>
                            <i class="visible-lg">08-01</i>
                        </li>

                    </ul>
                </div>
            </section>
            <!-- 新闻End -->
        </main>
    </div>
    <hr class="ipad-hr visible-xs visible-sm" />
    <div class="container-fluid">
        <!-- 三栏Begin -->
        <section class="row-fluid bg1">
            <div class="container">
                <div class="col-lg-4 clearfix">
                    <div class="x-news-title clearfix">
                        <h3 class="t-h3">人才培养<small class="t-small">Education</small>
                        </h3>
                        <a href="#" class="t-more pull-right">更多</a>
                    </div>
                    <div class="center-block clearfix">
                        <a class="c3-img-box">
                            <img class="c3-img" src='./images/1.jpg' />
                            <span class="c3-opacity">贵阳学院师生到我校考察交流</span>
                        </a>
                        <div class="rc-sm-txt">
                            <a href="#">贵阳学院师生到我校考察交流</a>
                            <p class="rc-sm-text-date">08.23</p>
                        </div>
                        <div class="c3-list-box c3-list-box-xs-1">
                            <span class="c3-date visible-lg">08-23</span>
                            <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                        </div>
                        <div class="c3-list-box">
                            <span class="c3-date visible-lg">08-23</span>
                            <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                        </div>
                        <div class="c3-list-box">
                            <span class="c3-date visible-lg">08-23</span>
                            <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                        </div>
                        <div class="c3-list-box visible-sm">
                            <span class="c3-date visible-lg">08-23</span>
                            <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                        </div>
                    </div>
                </div>
                <div class="ipad-hr  visible-xs visible-sm">
                </div>
                <div class="col-lg-4 clearfix">
                    <div class="x-news-title clearfix">
                        <h3 class="t-h3">科研学术<small class="t-small">Research</small>
                        </h3>
                        <a href="#" class="t-more pull-right">更多</a>
                    </div>
                    <div class="center-block clearfix">
                        <a class="c3-img-box">
                            <img class="c3-img" src='./images/1.jpg' />
                            <span class="c3-opacity">贵阳学院师生到我校考察交流</span>
                        </a>
                        <div class="rc-sm-txt">
                            <a href="#">贵阳学院师生到我校考察交流</a>
                            <p class="rc-sm-text-date">08.23</p>
                        </div>
                        <div class="c3-list-box c3-list-box-xs-1">
                            <span class="c3-date visible-lg">08-23</span>
                            <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                        </div>
                        <div class="c3-list-box">
                            <span class="c3-date visible-lg">08-23</span>
                            <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                        </div>
                        <div class="c3-list-box">
                            <span class="c3-date visible-lg">08-23</span>
                            <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                        </div>
                        <div class="c3-list-box visible-sm">
                            <span class="c3-date visible-lg">08-23</span>
                            <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                        </div>
                    </div>
                </div>
                <div class="ipad-hr visible-xs visible-sm clearfix" ></div>
                <div class="col-lg-4 clearfix">
                    <div class="x-news-title clearfix">
                        <h3 class="t-h3">合作交流<small class="t-small">Cooperation</small>
                        </h3>
                        <a href="#" class="t-more pull-right">更多</a>
                    </div>
                    <div class="clearfix">
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                        <a href="#" class="c3-ul-box clearfix">
                            <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                            <span class="c3-date visible-lg">08.01</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- 三栏End -->
    </div>
    <hr class="ipad-hr visible-xs visible-sm" />
    <div class="container">
        <!-- 三栏Begin -->
        <section class="row ">
            <div class="col-lg-4 clearfix">
                <div class="x-news-title clearfix">
                    <h3 class="t-h3">文化活动<small class="t-small">Cultural Activity</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="clearfix">
                    <div class="CA-box-1 clearfix">
                        <div class="CA-1-date col-lg-2">
                            <p class="CA-1-day">24</p>
                            <p class="CA-1-days">2018.08</p>
                        </div>
                        <span class="CA-txt col-lg-10">
                            学校召开“两学一做”学习教育工作座谈会
                        </span>
                    </div>
                    <div>
                        <a href="#" class="CA-list-a">我校与清华大学签约开展学科共建</a>
                        <a href="#" class="CA-list-a">我校与清华大学签约开展学科共建</a>
                        <a href="#" class="CA-list-a">我校与清华大学签约开展学科共建</a>
                        <a href="#" class="CA-list-a">我校与清华大学签约开展学科共建</a>
                        <a href="#" class="CA-list-a">我校与清华大学签约开展学科共建</a>
                        <a href="#" class="CA-list-a">我校与清华大学签约开展学科共建</a>
                        <a href="#" class="CA-list-a">我校与清华大学签约开展学科共建</a>
                        <a href="#" class="CA-list-a">我校与清华大学签约开展学科共建</a>
                    </div>
                </div>
            </div>
            <div class="ipad-hr visible-xs visible-sm clearfix" >
            </div>
            <div class="col-lg-4 clearfix">
                <div class="x-news-title2 clearfix">
                    <h3 class="t-h3">校园聚焦<small class="t-small">Campus focus</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="center-block clearfix">
                    <a class="c3-img-box">
                        <img class="c3-img" src='./images/1.jpg' />
                        <span class="c3-opacity">贵阳学院师生到我校考察交流</span>
                    </a>
                    <div class="rc-sm-txt">
                        <a href="#">贵阳学院师生到我校考察交流</a>
                        <p class="rc-sm-text-date">08.23</p>
                    </div>
                    <div class="c3-list-box c3-list-box-xs-1">
                        <span class="c3-date visible-lg">08-23</span>
                        <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                    </div>
                    <div class="c3-list-box">
                        <span class="c3-date visible-lg">08-23</span>
                        <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                    </div>
                    <div class="c3-list-box">
                        <span class="c3-date visible-lg">08-23</span>
                        <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                    </div>
                    <div class="c3-list-box">
                        <span class="c3-date visible-lg">08-23</span>
                        <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                    </div>
                </div>

            </div>
            <div class="ipad-hr visible-xs visible-sm" >
            </div>
            <div class="col-lg-4 clearfix">
                <div class="x-news-title2 clearfix">
                    <h3 class="t-h3">校园人物<small class="t-small">Figure</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="center-block clearfix">
                    <a class="c3-img-box">
                        <img class="c3-img" src='./images/1.jpg' />
                        <span class="c3-opacity">贵阳学院师生到我校考察交流</span>
                    </a>
                    <div class="rc-sm-txt">
                        <a href="#">贵阳学院师生到我校考察交流</a>
                        <p class="rc-sm-text-date">08.23</p>
                    </div>
                    <div class="c3-list-box c3-list-box-xs-1">
                        <span class="c3-date visible-lg">08-23</span>
                        <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                    </div>
                    <div class="c3-list-box">
                        <span class="c3-date visible-lg">08-23</span>
                        <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                    </div>
                    <div class="c3-list-box">
                        <span class="c3-date visible-lg">08-23</span>
                        <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                    </div>
                    <div class="c3-list-box">
                        <span class="c3-date visible-lg">08-23</span>
                        <a href="#">唐波出席全省博士后青年创新人才座谈会暨全谈会暨谈会暨</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- 三栏End -->
    </div>
    <div class="ipad-hr visible-xs  visible-sm ">
    </div>
    <div class="container">

        <!-- 三栏Begin -->
        <section class="row ">
            <div class="col-lg-4 col-sm-6 clearfix">
                <div class="x-news-title clearfix">
                    <h3 class="t-h3">媒体关注<small class="t-small">Media</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="center-block clearfix">
                    <a href="#" class="m-list clearfix">
                        <span class="col-lg-2 label">人民日报</span>
                        <span class="col-lg-10">我校与清华大学签约开展学科共建学签约开</span>
                    </a>
                    <a href="#" class="m-list clearfix">
                        <span class="col-lg-2 label">人民日报</span>
                        <span class="col-lg-10">我校与清华大学签约开展学科共建学签约开</span>
                    </a>
                    <a href="#" class="m-list clearfix">
                        <span class="col-lg-2 label">人民日报</span>
                        <span class="col-lg-10">我校与清华大学签约开展学科共建学签约开</span>
                    </a>
                    <a href="#" class="m-list clearfix">
                        <span class="col-lg-2 label">人民日报</span>
                        <span class="col-lg-10">我校与清华大学签约开展学科共建学签约开</span>
                    </a>
                    <a href="#" class="m-list clearfix">
                        <span class="col-lg-2 label">人民日报</span>
                        <span class="col-lg-10">我校与清华大学签约开展学科共建学签约开</span>
                    </a>
                </div>
            </div>
            <div class="ipad-hr visible-xs">
            </div>
            <div class="col-lg-4 col-sm-6 clearfix">
                <div class="x-news-title clearfix">
                    <h3 class="t-h3">勤信讲坛<small class="t-small">Forum</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="center-block clearfix">
                    <a href="#" class="c3-ul-box clearfix">
                        <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                        <span class="c3-date">08.01</span>
                    </a>
                    <a href="#" class="c3-ul-box clearfix">
                        <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                        <span class="c3-date">08.01</span>
                    </a>
                    <a href="#" class="c3-ul-box clearfix">
                        <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                        <span class="c3-date">08.01</span>
                    </a>
                    <a href="#" class="c3-ul-box clearfix">
                        <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                        <span class="c3-date">08.01</span>
                    </a>
                    <a href="#" class="c3-ul-box clearfix">
                        <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                        <span class="c3-date">08.01</span>
                    </a>
                    <a href="#" class="c3-ul-box clearfix visible-lg">
                        <span class="col-lg-10">中国音乐家协会爱乐男声合唱团专场音乐会走进信息科大走进信息科大</span>
                        <span class="c3-date">08.01</span>
                    </a>

                </div>
            </div>
            <div class="col-lg-4 visible-lg clearfix">
                <div class="x-news-title clearfix">
                    <h3 class="t-h3">光影校园<small class="t-small">Campus gallery</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="center-block clearfix">
                    <a href="#" class="col-xs-12 col-lg-12 clearfix gy-box">
                        <img class="gy-img col-xs-12  col-lg-12" src='./images/1.jpg' />
                        <div class="gy-opacity"></div>
                        <div class="gy-title"><i class="icon-camera8"></i>我校与清华大学签约开展学科共建</div>
                    </a>
                </div>
            </div>
        </section>
        <!-- 三栏End -->
    </div>
    <hr class="ipad-hr visible-xs visible-sm" />
    <div class="container-fluid ">
        <div class="container padding-0 visible-sm">
            <div class="col-sm-6 clearfix">
                <div class="x-news-title clearfix">
                    <h3 class="t-h3">光影校园<small class="t-small">Campus gallery</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="center-block clearfix">
                    <a href="#" class="col-xs-12  clearfix gy-box">
                        <img class="gy-img col-xs-12" src='./images/1.jpg' />
                        <div class="gy-opacity"></div>
                        <div class="gy-title"><i class="icon-camera8"></i>我校与清华大学签约开展学科共建</div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 clearfix visible-sm">
                <div class="x-news-title clearfix">
                    <h3 class="t-h3">视频音频<small class="t-small">Video</small>
                    </h3>
                    <a href="#" class="t-more pull-right">更多</a>
                </div>
                <div class="center-block clearfix">
                    <div class="video-sm">
                        <img src="./images/1.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ipad-hr visible-sm" />
        
    </div>
    <div class="container-fluid visible-lg visible-sm">
        <!-- 两栏Begin -->
        <section class="bg2">
            <div class="container">
                <div class="col-lg-6 visible-lg">
                    <div class="x-news-title clearfix">
                        <h3 class="t-h3">视频音频<small class="t-small">Video</small>
                        </h3>
                        <a href="#" class="t-more pull-right">更多</a>
                    </div>
                    <div class="center-block clearfix">
                        <a href="#" class="V-1 col-lg-8 col-xs-12">
                            <img src="./images/1.jpg" />
                        </a>
                        <a href="#" class="V-2 col-lg-4 visible-lg">
                            <img src="./images/1.jpg" />
                        </a>
                        <a href="#" class="V-3 col-lg-4 visible-lg">
                            <img src="./images/1.jpg" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="x-news-title clearfix">
                        <h3 class="t-h3">校园媒体<small class="t-small">Campus media</small>
                        </h3>
                        <a href="#" class="t-more pull-right">更多</a>
                    </div>
                    <div class="center-block clearfix">
                        <div class="QR-list col-xs-12 col-lg-4">
                            <div class="QR-sm-box">
                                <p class="name">官方微信</p>
                                <p class="tips">扫描关注微信公众号</p>
                            </div>
                            <img class="center-block" src="./images/home-qr2.png" />
                        </div>
                        <div class="QR-list col-xs-12 col-lg-4">
                            <div class="QR-sm-box">
                                <p class="name">大学校报</p>
                                <p class="tips">更新至67期(共380期)</p>
                            </div>
                            <img class="center-block" src="./images/home-qr3.png" />
                        </div>
                        <div class="QR-list col-xs-12 col-lg-4">
                            <div class="QR-sm-box">
                                <p class="name">广播电台</p>
                                <p class="tips">享受你的校园生活</p>
                            </div>
                            <img class="center-block" src="./images/home-qr1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- 两栏End -->
    </div>
    
    <div class="container-fluid visible-xs">
        <div class="col-xs-12 clearfix visible-xs">
            <div class="col-xs-12 x-news-title clearfix">
                <h3 class="t-h3">视频音频<small class="t-small">Video</small>
                </h3>
                <a href="#" class="t-more pull-right">更多</a>
            </div>
        </div>
        <div class="center-block clearfix">
            <div class="col-xs-12 video-xs">
                <img src="./images/1.jpg" />
            </div>
        </div>
    </div>
   
    <img class="footimg visible-xs" src="images/2.png" />
    <div class="foot">
        <div class="container">
            <img src="images/foot.png" class="pull-left" />
            <p>Copyright © 2012 北京信息科技大学信息网络中心</p><!-- 11.26 更新 -->
            <p><span>京公网安备:110402430033</span>任何技术问题请联系webmaster@bistu.edu.cn</p>
        </div>
    </div>
    <div class="gotop visible-lg">
        <i></i>
        回顶部
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="请输入关键词搜索">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-group-12">搜索</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="./js/idangerous.swiper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="../views/js/home.js"></script>
</body>

</html>