<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>视频音频</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts/style.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/list.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="bg"></div>
<div class="top">
    <div class="container">
        <img src="images/logo.png" class="img1" />
        <img src="images/logo1.png" class="img2" />
        <div class="pull-right top-right">
            <a href="#" class="text">信息科大首页</a>
            <div class="search">
                <input type="text" placeholder="请输入关键字" />
                <span class="icon-icon_search2"></span>
            </div>
        </div>
        <div class="pull-right top_nav_right">
            <div class="top_nav_search" data-toggle="modal" data-target="#myModal"></div>
            <div class="top_nav" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></div>
        </div>
    </div>
</div>
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav nav-justified">
                <li><a href="#">综合新闻</a></li>
                <li><a href="#about">人才培养</a></li>
                <li><a href="#contact">科研学术</a></li>
                <li><a href="#">合作交流</a></li>
                <li><a href="#">文化活动</a></li>
                <li><a href="#">校园聚焦</a></li>
                <li><a href="#">校园人物</a></li>
                <li><a href="#">媒体关注</a></li>
                <li><a href="#">勤信讲坛</a></li>
                <li><a href="#">光影校园</a></li>
                <li class="active"><a href="#">视频音频</a></li>
                <li><a href="#">校园媒体</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="main-top bg-none">
    <div class="bg-skyblue"></div>
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">视频音频</a></li>
        </ul>
        <h1>视频音频 <small>Video</small><a href="#">返回首页</a></h1>
        <div class="row video">
            <div class="col-md-6 col-sm-12 video-img">
                <div class="img">
                    <img src="./images/1.jpg">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 video-content">
                <h5 class="video-date">2018-07-29</h5>
                <h2 class="video-title">北京信息科技大学第二次党代会部分代表采访视频</h2>
                <p>北京信息科技大学第二次党代会部分代表采访视频北京信息科技大学第二次党代会部分代表采访视频北京信息科技大学第二次党代
                    会部分代表采访视频北京信息科技大学第二次党代会部分代表采访视频北京信息科技大学第二次党代会部分代表采访视频</p>
                <span class="video-date video-down">下载</span>
            </div>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="item-video-title">
            <h4 class="title">视频音频</h4>
            <div class="pull-right">
                <input class="input" type="text" placeholder="搜索视频音频标题/关键词">
                <span class="data">最近一个月</span>
                <input class="calendar" type="button" >
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6 item-video">
            <div class="img">
                <img src="./images/1.jpg" alt="">
            </div>
            <div class="item-video-content">
                <h5>2018-07-29</h5>
                <span class="video-down pull-right">下载</span>
            </div>
            <p class="size16">北京信息科技大学第二次党代会部分代表采访视频</p>
        </div>
    </div>
</div>
<div class="container text-center">
    <ul class="pagination">
        <li>
            <a href="#"><</a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">></a></li>
    </ul>
</div>
<img class="footimg" src="images/2.png" />
<div class="foot">
    <div class="container">
        <img src="images/foot.png" class="pull-left" />
        <p>Copyright © 2012 北京信息科技大学信息网络中心</p>
        <p>任何技术问题请联系webmaster@bistu.edu.cn 京公网安备:110402430033</p>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="请输入关键词搜索">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-group-12">搜索</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- Latest compiled and minified JavaScript -->
<script src="./js/bootstrap.min.js"></script>
</html>